*{
    margin:0;
    padding: 0;
}

.login-form-box{
    width:380px;
    height:530px;
    position:relative;
    margin: 10% auto;
    /* background: #fff; */
    
    padding:5px;
    overflow:hidden;

}

.login-close-button{
    cursor:pointer;
    border:none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight:bold;
    padding-left:330px;
}

.login-button-box{
    width:220px;
    margin:35px auto;
    position:relative;
    background: #fff;
    box-shadow: 0 0 20px 9px #24a7ff3a;
    border-radius: 30px;
}

.login-toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border:0;
    outline:none;
    position:relative;
}

#login-btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background: linear-gradient(to right,#0e49b5,#d0e8f2);
    border-radius: 30px;
    transition: 0.5s;
}

.login-logo{
    margin: 30px auto;
    text-align: center; 
      
}

.login-logo img{
    width:130px;
    background:#000;
    
}

.login-input-group{
    top:250px;
    position:absolute;
    width:280px;
    transition:0.5s;
}

.login-input-field{
    width:100%;
    padding: 10px 0;
    margin:5px 0;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid rgb(124, 142, 180);
    outline:none;
    background:transparent;
    font-size: 15px;
}

::placeholder, :-ms-input-placeholder,::-ms-input-placeholder {
    font-weight:500;
    color:rgb(60, 68, 95);
    opacity:0.7;
}

.login-submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin: auto;
    background: linear-gradient(to right,#0e48b58c,#d0e8f2);
    border: 0;
    outline: none;
    border-radius: 30px;

}
.login-check-box{
    margin:30px 10px 30px 0;
    padding-left:5px;
    text-align:center;
}

.login-span{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login-login{
    left:50px;
}

#login-register{
    left:450%
}

.login-out{
    height:50px;
    text-align: center;
    color:rgb(130, 2, 2);
    font-size: 12px;
}
